body {
    background-color: rgb(10, 3, 39);
    color: rgb(247, 250, 250);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar_principal {
    border-color: rgb(247, 250, 250);
    border-style: double;
    border-radius: 2px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    /*margin-left: 5%;*/
    
}

.navbar_contenedor {
    width: 30%;
    display: inline;
    padding-left: 15%;
    padding-right: 15%;
 
}

.navbar_items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /*margin-left: 35%;
    margin-right: 35%;*/
    padding-left: 10%;
    padding-right: 10%;
}

li {
    margin-left: 35%;
    margin-right: 35%;
}

.contenedor_principal {
    border-color: rgb(247, 250, 250);
    border-style: double;
    border-radius: 2px;
    margin: 5%;
    padding: 5%;
}